# Don't track exports folders
_book/
exports/open-guide/ 


node_modules/
*.pdf
*.epub
*.mobi

book.json

styles/*.less

# Don't track subfolders called images
/**/images/**
# Except the root one
!/images/**

# Tarck only bash scripts in the scripts/ folder
/scripts/**
!/scripts/*.sh
