.link-inherit {
  color: inherit;
}
.link-inherit:hover,
.link-inherit:focus {
  color: inherit;
}
.hidden {
  display: none;
}
/* #4183c4; */
.section.toc > h1 {
  text-align: center;
}
.section.toc > ol {
  margin: 0px;
  padding: 0px;
}
.section.toc li {
  list-style: none;
}
.section.toc li .inner {
  display: block;
  border-bottom: 1px dotted #eee;
  margin-bottom: 4px;
}
.section.toc li .inner a,
.section.toc li .inner span {
  padding-right: 5px;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}
.section.toc li .inner .page {
  float: right;
  padding-left: 5px;
}
.section.toc li ol {
  margin: 0px;
  padding: 0px;
  padding-left: 2em;
}
.dir-rtl .section.toc li .inner .page {
  float: left;
}
.dir-rtl .section.toc li ol {
  margin: 0px;
  padding: 0px;
  padding-right: 2em;
}
.section.glossary > h1 {
  text-align: center;
}
.section.glossary .glossary-entry {
  margin-bottom: 40px;
}
.section.glossary .glossary-entry h2 a,
.section.glossary .glossary-entry h2 a:hover {
  color: inherit;
  text-decoration: none;
}
.section.glossary .glossary-entry .glossary-index {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.section.glossary .glossary-entry .glossary-index li {
  display: inline;
  margin: 0px 8px;
  white-space: nowrap;
}
body {
  font-family: sans-serif;
  color: #000;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.page .book-chapter {
  display: none;
}
/* STUFF FOR LIBRE OBJET */
@font-face {
  font-family: 'Alegreya';
  src: url('fonts/Alegreya/Alegreya-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('fonts/Alegreya/Alegreya-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('fonts/Alegreya/Alegreya-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('fonts/Alegreya/Alegreya-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('fonts/Alegreya/Alegreya-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('fonts/Quattrocento_Sans/QuattrocentoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway-Heavy';
  src: url('fonts/Raleway/Raleway-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url('fonts/Raleway/Raleway-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('fonts/Raleway/Raleway-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Where the title is showing */
.pdf-header {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0px;
  padding-bottom: 10px;
  color: #aaa;
}
/* Where the chapter title is showing + page number */
.pdf-footer {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  padding-top: 10px;
  color: #aaa;
}
.pdf-footer .footer-pages-count {
  float: right;
}
body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-family: 'QuattrocentoSans';
  font-size: 9pt;
  letter-spacing: .2px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.page .section {
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  color: #000;
  line-height: 1.6;
  text-size-adjust: 100%;
  /* Related to the images */
}
.page .section * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}
.page .section a {
  text-decoration: none;
}
.page .section figure {
  margin: 0;
  padding: 0;
}
.page .section figure figcaption {
  display: none;
}
.page .section li .inner .page {
  display: none;
  /* hides page number in TOC that is wrong */
}
.page .section h1 {
  display: block;
  clear: both;
  background-image: url('images/trame-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0 5%;
  padding-top: 9em;
  width: 100%;
  height: 100%;
  font-family: 'Raleway-Heavy';
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  font-size: 3em !important;
}
.page .section h2 {
  display: block;
  clear: both;
  background-image: url('images/trame.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  position: relative;
  font-family: 'Raleway-Heavy';
  color: #247940;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em !important;
}
.page .section h3 {
  display: block;
  clear: both;
  font-family: 'Raleway-Heavy';
  color: black;
  margin-left: 60px;
  font-size: 1.5em !important;
}
.page .section h4::before {
  content: "⚊ ";
}
.page .section h4::after {
  content: " ⚊";
}
.page .section h4 {
  display: block;
  clear: both;
  font-family: 'Raleway-ExtraLight';
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #247940;
  margin: 10px 60px 0px 60px;
  font-size: 1.1em !important;
}
.page .section h5 {
  display: inline;
  float: right;
  clear: both;
  width: 60%;
  margin: 5px;
  margin-left: 60px;
  padding: 5px 5px 5px 100px;
  font-family: 'QuattrocentoSans';
  color: black;
}
.page .section h6 {
  display: inline;
  float: left;
  clear: both;
  width: 60%;
  margin-left: 60px;
  padding: 5px 5px 5px 60px;
  font-family: 'QuattrocentoSans';
  color: black !important;
}
.page .section p {
  font-family: 'QuattrocentoSans';
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: black;
  margin-top: 1em;
  margin-bottom: 0;
  padding-left: 60px;
  padding-right: 60px;
}
.page .section blockquote p {
  font-family: 'Alegreya';
  font-weight: normal;
  font-size: 1em;
  text-align: justify;
  width: 100%;
  color: #247940;
  margin: 0px;
  padding: 0px;
}
.page .section blockquote {
  display: block;
  float: left;
  clear: left;
  background: white;
  padding: 1.5em;
  margin: 5px 30px 20px 0px;
  width: 60%;
  border: solid 2pt;
  border-color: #247940;
  box-shadow: 10pt 10pt 0 0 #247940;
}
.page .section li,
.page .section li > p {
  font-family: 'QuattrocentoSans';
  font-size: 1em;
  color: #247940;
  page-break-inside: avoid;
}
.page .section ul {
  list-style-image: url('images/Lo-bullet.svg');
  padding-left: 100px;
}
.page .section ul > li {
  width: 70%;
  padding: 0px 0 6px 0;
}
.page .section li > p {
  padding: 0;
  margin: 0;
}
.page .section ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  padding-left: 60px;
}
.page .section ol > li {
  position: relative;
  margin: 0;
  clear: left;
  padding: 10px 0 6px 0;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */
  line-height: 1.1em;
}
.page .section ol > li::before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  clear: left;
  position: absolute;
  top: 5px;
  left: -30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25px;
  padding: 6px 4px;
  color: white;
  background: #247940;
  font-family: 'Raleway-Medium';
  text-align: center;
}
.page .section blockquote > ol {
  padding-left: 17px;
}
.page .section blockquote > ol li,
.page .section blockquote > ol li > p {
  font-family: inherit;
  font-family: 'Alegreya';
  font-size: 1em;
  text-align: justify;
}
.page .section a {
  font-family: inherit;
  font-size: inherit;
  color: #385F8C !important;
}
.page .section p > a {
  font-family: 'Raleway-Heavy';
}
.page .section img[src$=".svg"] {
  float: left;
  clear: both;
  max-width: 60%;
}
.page .section img[alt^="**Pict**"] {
  display: block;
  float: left;
  clear: both;
  width: 63%;
  max-width: 500px;
  margin: 5px 2em 20px 0px;
  border: solid 2px #247940 !important;
  /*
    box-shadow: 10px 10px 0 0 white,
                12px 12px 0 0 #247940,
                12px 8px 0 0 #247940,
                8px 12px 0 0 #247940;
    */
}
.page .section p > img[alt^="**Pict**"] {
  margin-left: -60px;
  width: 82%;
}
.page .section ol > li > p > strong {
  display: none;
}
.page .section img[alt*="Title"] {
  display: inline;
  clear: both;
  width: 100%;
}
.page .section img[alt*="logo"],
.page .section img[alt*="symbol"] {
  clear: both;
  float: right;
  margin-right: 0px;
  margin-left: 25px;
  padding-top: 0px;
  margin-top: .3em;
  width: 100px;
}
.page .section img[alt*="arrow"] {
  margin-right: 30px;
  margin-left: 30px;
  width: 30px;
}
.page .section img[alt*="Portrait"] {
  display: inline;
  float: left;
  clear: both;
  width: 100px;
  margin-right: 10px;
  margin-left: 60px;
}
.page .section blockquote img[alt*="Portrait"] {
  margin-left: 0px;
}
.page .section img[src$="girl-bulle.png"] {
  display: inline;
  float: left;
  clear: both;
  width: 100px;
  padding-top: 30px;
  margin-right: 15px;
}
.page .section p > img[src$="girl-bulle.png"] {
  margin-left: -60px;
}
.page .section img[src$="guy-bulle.png"] {
  display: inline;
  float: right;
  clear: both;
  width: 100px;
  padding-top: 30px;
  margin-left: 15px;
}
.page .section p > img[src$="guy-bulle.png"] {
  margin-right: -60px;
}
/* Authors */
div#authors + ul {
  list-style-image: none;
  list-style: none;
  display: block;
  overflow: auto;
  margin: 0 7%;
  padding: 0;
}
div#authors + ul li {
  display: block;
  width: 85%;
  margin: 0;
  padding: 0 !important;
}
div#authors + ul li img,
div#authors + ul li img[alt*="Portrait"] {
  margin-left: 0px;
}
div#authors + ul li > ul {
  clear: none;
  float: left;
  margin: 1em 0 !important;
  padding: 0 !important;
}
div#authors + ul li > ul li {
  width: 100%;
}
/*** Stuff to make a better book hopefully ***/
.page .section h3,
.page .section h4 {
  page-break-after: avoid;
}
.page .section h3 + img,
.page .section h4 + img,
.page .section h3 + figure,
.page .section h4 + figure {
  page-break-before: avoid;
}
.page .section h3 + img img,
.page .section h4 + img img,
.page .section h3 + figure img,
.page .section h4 + figure img {
  page-break-before: inherit;
}
.page .section h3 + img + blockquote,
.page .section h4 + img + blockquote,
.page .section h3 + figure + blockquote,
.page .section h4 + figure + blockquote {
  page-break-before: avoid;
}
.page .section h3 + blockquote,
.page .section h4 + blockquote {
  page-break-before: avoid;
}
.page-break {
  page-break-after: always;
  display: block;
  height: 0;
  margin:  0;
  margin-bottom: -10px;
}
.blank-page {
  display: block;
  clear: both;
  page-break-after: always;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
