@font-face {
  font-family: 'TGL';
  src: url('fonts/TGL_0-17/tgl_0-17.eot');
  src: url('fonts/TGL_0-17/tgl_0-17.eot?#iefix') format('embedded-opentype'), url('fonts/TGL_0-17/tgl_0-17.woff2') format('woff2'), url('fonts/TGL_0-17/tgl_0-17.woff') format('woff'), url('fonts/TGL_0-17/tgl_0-17.ttf') format('truetype'), url('fonts/TGL_0-17/tgl_0-17.svg#tgl_0-17regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Related to the images */
figure figcaption {
  display: none;
}
/*____________ From OSP html2print ___________*/
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Avoids headings to be cut or to be orphans.
     * But it doesn't seem to work
     * if the element after has a page-break-inside avoid. It tries its best! */
  -webkit-region-break-inside: avoid;
  -webkit-region-break-after: avoid;
  break-inside: avoid;
  break-after: avoid;
  font-family: 'TGL 0-17';
}
/* AN EXAMPLE TO AVOID PAGE BREAK INSIDE,
 * HERE NO PARAGRAPH WILL BE CUT,
 * BUT YOU MIGHT WANT TO DEACTIVATE THIS */
p {
  -webkit-region-break-inside: avoid;
}
@page {
  size: A4 landscape;
}
