@import "./ebook/base.less";

.pdf-footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color:#aaa;

    .footer-pages-count {
        float: right;
    }
}

.pdf-header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #aaa;
}

/************** Libre Objet Book ***************/

/* Related to the images */
figure figcaption {
  display: none;
}

/*____________ From OSP html2print ___________*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'TGL 0-17';
}

.page .section h1 {
  margin-top: 0;
  padding-top: 0;
}

.page .section a { color: black; }
.page .section blockquote {
  color : black;
  font-style: italic;
  border-left: 2px dotted black;
}

.page-break {
  page-break-before: always;
}

@import "libre-objet-custom.less";
